a.out
xdp-image.xpm
ddlpro
.*
*.o

doodle-pro-*.tar.gz
Makefile.in

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in*
/config.h
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

Makefile
